.divider {
  height 1px
  background-color $color-theme
}

.divider-bold {
  height 2px
  background-color $color-theme
}

.item-ease {
  width 100%
  box-sizing border-box
  line-height 1.8em
  background-color #dae7e5
  padding 5px 30px
  border-radius 8px
  no-wrap()
  cursor pointer
  &:hover {
    background-color #829e9a
    color white
    transition all 0.5s ease
  }
}