.form-group {
  display: flex
  justify-content: space-between
  height 40px
  align-items: center
  padding 10px 5px
  font-size $font-size-large
  label,
  .label {
    display inline-block
    line-height 1.2em
    width 10%
    vertical-align middle
    word-wrap break-word
    word-break break-all
    margin-right: 3%
  }
  .input-detail {
    width 90%
    box-sizing border-box
    border-radius 8px
    padding-left 10px
    padding-right 10px
    font-size 16px
  }
  input[type=text], input[type=password] {
    width 90%
    box-sizing border-box
    height 40px
    border 1px solid $color-theme
    border-radius 8px
    padding-left 10px
    padding-right 10px
    font-size 16px
  }
  input[type=radio], input[type=checkbox] {
    appearance none
    width 22px
    height 22px
    background-color #ffffff
    vertical-align middle
    border 1px solid $color-theme
    border-radius 8px
    transition all 250ms ease
    cursor pointer
  }
  input[type=radio]:checked, input[type=checkbox]:checked {
    background-color $color-theme
    box-shadow inset 0 0 0 4px #ffffff
  }
}
.form-title {
  h2 {
    text-align center
    font-size $font-size-large-x
    margin-bottom 20px
  }
}
.form-bg-panel {
  width 390px
  padding 30px 70px
  margin 0 auto
  margin-top 36px
  background-color #ffffff
  color $color-theme
  border-radius 8px
  box-shadow 0 6px 6px #cccccc
}
.auto-height {
  height auto
}
select {
  width 120px
  font-size 13px
  border 1px solid #ffffff
  padding 5px 10px
  outline none
  border-radius 4px
  &:focus {
    border 1px solid $color-theme-md
  }
}

/* btn */
.btn-default {
  cursor pointer
  background-color $color-theme-d
  color #4d4d4d
  border-radius 8px
  border none
  width 147px
  height 40px
  font-size $font-size-large
  margin 0 auto
  transition box-shadow 0.5s
}
.btn-default:hover {
  box-shadow 0 6px 6px #eeeeee
  transition box-shadow 0.5s
}
.btn-info {
  cursor pointer
  background-color $color-theme
  color #ffffff
  border-radius 4px
  transition all 0.1s ease
  border none
  padding 5px 10px
}
.btn-info:hover {
  background-color $color-theme-md
  transition all 0.1s ease
}
.btn-default:active, .btn-info:active {
  transform translate(1px, 1px)
}
.btn-default:disabled, .btn-info:disabled {
  background-color rgba(0, 0, 0, 0.1)
  cursor no-drop
  box-shadow: none
}

.btn-lg {
  font-size: 16px
  padding: 6px 20px
}

/* checkbox */
input[type=radio], input[type=checkbox] {
  appearance none
  width 22px
  height 22px
  background-color #ffffff
  vertical-align middle
  border 1px solid $color-theme
  border-radius 8px
  transition all 250ms ease
  cursor pointer
}
input[type=radio]:checked, input[type=checkbox]:checked {
  background-color $color-theme
  box-shadow inset 0 0 0 4px #ffffff
}

/* 评论输入框 */
.comment-input-box {
  display flex
  justify-content space-between
  .comment-input {
    width 90%
    box-sizing border-box
    font-size 14px
    border-radius 4px
    padding 10px 10px
    border 1px solid #e5e9ef
    // background-color #f4f5f7
    &::-webkit-input-placeholder {
      font-size 14px
    }
    transition all 0.1s ease
    &:focus {
      border 1px solid $color-theme
      background-color #ffffff
      transition all 0.1s ease
    }
  }
}

/* 单条评论 */
.comment-item {
  background-color: #ffffff
  .comment-detail {
    font-size 14px
    color $color-text
    .header {
      display flex
      justify-content space-between
      margin-bottom 20px
    }
    .body {
      line-height 1.4em
    }
    .footer {
      text-align right
      padding 0
      font-size 12px
      .link-reply {
        color $color-sub-theme
        hover-move-right()
      }
    }
  }
  .replies {
    padding-left 50px
    .header {
      display flex
      justify-content space-between
      margin-bottom 20px
    }
    .body {
      line-height 1.4em
      margin-bottom 20px
    }
    .footer {
      display flex
      justify-content space-between
      text-align right
      padding 0
      font-size 12px
      .link-reply {
        color $color-sub-theme
        hover-move-right()
      }
      .replies-num {
        .view-replies {
          color $color-sub-theme
          hover-move-right()
        }
      }
    }
  }
  .divider {
    margin 20px 0
  }
}