@font-face {
  font-family 'music-icon'
  src url('../fonts/music-icon.eot?2qevqt')
  src url('../fonts/music-icon.eot?2qevqt#iefix') format('embedded-opentype'), url('../fonts/music-icon.ttf?2qevqt') format('truetype'), url('../fonts/music-icon.woff?2qevqt') format('woff'), url('../fonts/music-icon.svg?2qevqt#music-icon') format('svg')
  font-weight normal
  font-style normal
}
[class^='icon-'], [class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family 'music-icon' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
}
.icon-music1:before {
  content '\f001'
}
.icon-heart:before {
  content '\f004'
}
.icon-star:before {
  content '\f005'
}
.icon-home:before {
  content '\f015'
}
.icon-download_alt:before {
  content '\f019'
}
.icon-repeat:before {
  content '\f01e'
}
.icon-refresh:before {
  content '\f021'
}
.icon-tag:before {
  content '\f02b'
}
.icon-eye_open:before {
  content '\f06e'
}
.icon-comment:before {
  content '\f075'
}
.icon-thumbs_up_alt:before {
  content '\f087'
}
.icon-double_angle_right:before {
  content '\f101'
}
.icon-spinner1:before {
  content '\f110'
}
.icon-ellipsis_horizontal:before {
  content '\f141'
}
.icon-_334:before {
  content '\f164'
}
.icon-uniF1C1:before {
  content '\f1c1'
}
.icon-_422:before {
  content '\f1c2'
}
.icon-_423:before {
  content '\f1c3'
}
.icon-_424:before {
  content '\f1c4'
}
.icon-_425:before {
  content '\f1c5'
}
.icon-_426:before {
  content '\f1c6'
}
.icon-_427:before {
  content '\f1c7'
}
.icon-_428:before {
  content '\f1c8'
}
.icon-_429:before {
  content '\f1c9'
}
.icon-venus:before {
  content '\f221'
}
.icon-_511:before {
  content '\f222'
}
.icon-image:before {
  content '\e90d'
}
.icon-music:before {
  content '\e911'
}
.icon-play:before {
  content '\e912'
}
.icon-film:before {
  content '\e913'
}
.icon-mic:before {
  content '\e91e'
}
.icon-spinner:before {
  content '\e97a'
}
.icon-spinner9:before {
  content '\e982'
}
.icon-mail2:before {
  content '\ea84'
}
