/**
  sm/md/lg/xl
  小/中/大/超大
*/
.layout-heart {
  width 1200px
  margin 0 auto
  margin-top 30px
}

.inline-block {
  display inline-block
}

.text-center {
  text-align center
}

.text-right {
  text-align: right 
}

.fl {
  float left  
}

.fr {
  float right
}

.clear {
  clear both
}

.margin-top-sm {
  margin-top 5px
}

.margin-bottom-sm {
  margin-bottom: 5px  
}

.margin-right-sm {
  margin-right: 5px
}

.margin-top-md {
  margin-top 15px
}

.margin-bottom-md {
  margin-bottom: 15px  
}

.margin-right-md {
  margin-right: 15px
}

.margin-tb-md {
  margin-top 15px
  margin-bottom 15px
}

.padding-tb-md {
  padding-top 15px
  padding-bottom 15px  
}

.padding-lr-md {
  padding-left: 15px
  padding-right: 15px
}

.margin-top-lg {
  margin-top 30px
}

.margin-bottom-lg {
  margin-bottom: 30px  
}

.margin-tb-lg {
  margin-top 30px
  margin-bottom 30px
}

.padding-tb-lg {
  padding-top 30px
  padding-bottom 30px
}

.margin-top-xl {
  margin-top 50px
}

.bold {
  font-weight: bold
}

.huaiyue {
  display flex
  justify-content space-between
  .left {
    width 800px
    box-sizing border-box
    border-radius 8px
  }
  .right {
    position relative
    width 380px
    box-sizing border-box
    border-radius 8px
    .title {
      position absolute
      top -30px
      left: 0
      text-shadow-theme()
    }
  }

}



/* flex */

.flex-end {
  justify-content flex-end
}

.flex-start {
  justify-content: flex-start
}